.gradle
build/
out/
logs/
*.iml
*.ipr
*.iws
*.ids
.idea/
.DS_Store
servicio.yml
gradle.properties
src/integration/resources/test-integracion.yml
src/main/resources/shiro.ini
sniese.jks
*.der
*.keystore
*.key
